/assignment_1/chinese
/assignment_1/chinese_traditional
/assignment_1/chinese_traditional_edited
/assignment_1/assignment1_instruction.pdf
/assignment_1/holidays_2020.csv
/assignment_1/matched_rules_dic.json
/assignment_1/repattern_dic.json